DISCORD_CLIENT_ID='your_discord_client_id'
MINIO_URL='your-minio-host.example.com'
MINIO_ACCESS_KEY='your_access_key'
MINIO_SECRET_KEY='your_secret_key'
MINIO_BUCKET='coversimage'
VLC_HOST='localhost'
VLC_PORT='8080'
VLC_PASSWORD='your_vlc_password'
